body{
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    /* height: 100vh;
    width: 100vw; */
    background-size: cover;
    /* background-size: 1400px 500px; */
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: rgb(17, 16, 16);
    color: aliceblue;
}

#logo{
    height: 75px;
    width: 500px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

#navbar ul li :hover{
    color: red;
}

#mlh{
    height: 150px;
    width: 70px;
}

/* #home{
    background-image: url(img/bg.png);
    /* background-repeat: no-repeat; */
    /* height: 100vh;
    width: 100vw; */
    /* background-size: cover; */
    /* background-size: 1400px 500px; */
/* } */ 

.btn1{
    background-color: #ff1717;
    color: white;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 40%;
    height:50px;
    width:100px;
}
.btn{
    background-color: #ff1717;
    color: white;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    height:50px;
    width:100px;
}

#text{
    color: white;
}

